<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.amplide"
            name="AMPL IDE">
      </category>
      <!--view
            category="com.amplide"
            class="org.eclipse.ui.internal.views.markers.ProblemsView"
            icon="platform:/plugin/org.eclipse.ui.ide/icons/full/eview16/problems_view.gif"
            id="com.amplide.ProblemsView"
            name="Errors">
      </view-->
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.amplide.Perspective"
            icon="icons/panter.gif"
            id="com.amplide.Perspective"
            name="AMPL IDE">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="mod,dat,run,ampl"
            id="amplFile"
            name="AMPL File"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.amplide.editors.AMPLEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            icon="icons/ampl_file.gif"
            id="com.amplide.editors.AMPLEditor"
            name="AMPL Editor"
            symbolicFontName="com.amplide.preferences.colorsFonts.editorFont">
         <contentTypeBinding
               contentTypeId="com.amplide.amplFile">
         </contentTypeBinding>
      </editor>
       </extension>
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="icons/ampl_project_add.gif"
               label="New AMPL Project"
               tooltip="Create new AMPL project">
            <parameter
                  name="newWizardId"
                  value="com.amplide.wizards.ProjectWizard">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   -->
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.amplide.launching.LaunchDelegate"
            id="com.amplide.launching.ampl"
            modes="run, debug"
            name="AMPL"
            public="true" />
      <launchConfigurationType
            delegate="com.amplide.launching.LaunchDelegate"
            id="com.amplide.launching.sampl"
            modes="run, debug"
            name="SAMPL"
            public="true" />
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.amplide.launching.ampl"
            icon="icons/panter.gif"
            id="com.amplide.launchConfigurationTypeImages.ampl" />
      <launchConfigurationTypeImage
            configTypeID="com.amplide.launching.sampl"
            icon="icons/panter.gif"
            id="com.amplide.launchConfigurationTypeImages.ampl" />
   </extension>
   <!--<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.amplide.launching.AMPLLaunchShortcut"
            icon="icons/panter.gif"
            id="com.amplide.AMPLLaunchShortcut"
            label="AMPL"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1" />
                  <iterate>
                     <or>
                        <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.ampl" />
                        <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.mod" />
                        <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.dat" />
                        <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.run" />
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject" />
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.amplide.projectNature" />
                        </and>
                     </or>                    
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType id="com.amplide.launching.ampl" />
      </shortcut>
      <shortcut
            class="com.amplide.launching.SAMPLLaunchShortcut"
            icon="icons/panter.gif"
            id="com.amplide.SAMPLLaunchShortcut"
            label="SAMPL"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <or>
                        <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.ampl" />
                        <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.sampl" />
                        <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.mod" />
                        <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.dat" />
                        <test
                            property="org.eclipse.debug.ui.matchesPattern"
                            value="*.run" />
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject" />
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="com.amplide.projectNature" />
                        </and>
                     </or>                    
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType id="com.amplide.launching.sampl" />
      </shortcut>
   </extension>  
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.amplide.advanced.launching.ui.LaunchConfigurationTabGroup"
            id="com.amplide.launchConfigurationTabGroup"
            type="com.amplide.launching.ampl">
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.amplide.advanced.launching.ui.LaunchConfigurationTabGroup"
            id="com.amplide.launchConfigurationTabGroup"
            type="com.amplide.launching.sampl">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="com.amplide.advanced.launching.ui.FileSelectionTab"
            group="com.amplide.launchConfigurationTabGroup"
            id="com.amplide.fileOrderTab"
            name="File Order">
      </tab>
   </extension>-->
   <!--<extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="org.eclipse.core.runtime.IAdaptable">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
   </extension>-->
   <extension
         id="AMPLDocumentSetupParticipant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="ampl,sampl,mod,dat,run"
            class="com.amplide.editors.DocumentSetupParticipant"/>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.amplide.views.internal.AMPLPropertyTester"
            id="com.amplide.propertyTester"
            namespace="com.amplide.views.internal"
            properties="matchesPattern"
            type="com.amplide.views.internal.CDEModel.CDEResource">
      </propertyTester>
      <propertyTester
            class="com.amplide.commands.internal.IsNotDirectory"
            id="com.amplide.commands.isNotDirectoryProperty"
            namespace="com.amplide.commands.internal"
            properties="isNotDirectory"
            type="com.amplide.views.internal.CDEModel.CDEResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="com.amplide.editors.DocumentSetupParticipant">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.amplide"
            class="com.amplide.views.CDEView"
            icon="icons/filenav_nav.gif"
            id="com.amplide.CurrDirExplorer"
            name="Current Directory"
            restorable="true">
      </view>
   </extension>
   <!--<extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.amplide.application"
            name="amplide Lite">
         <property
               name="appName"
               value="amplide Lite">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="startupForegroundColor"
               value="72A6BE">
         </property>
         <property
               name="startupMessageRect"
               value="2,217,486,15">
         </property>
         <property
               name="startupProgressRect"
               value="2,234,486,10">
         </property>
         <property
               name="aboutImage"
               value="icons/amplideAbout.png">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/AMPL-logo-16x16.png,icons/AMPL-logo-32x32.png,icons/AMPL-logo-48x48.png,icons/AMPL-logo-64x64.png,icons/AMPL-logo-128x128.png">
         </property>
      </product>
   </extension>-->
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="com.amplide.views.internal.CDEContentProvider"
            id="com.amplide.CurrDirExplorer.content"
            labelProvider="com.amplide.views.internal.CDELabelProvider"
            name="Current Directory Explorer Content">
         <triggerPoints>
            <or>
               <instanceof
                     value="com.amplide.views.internal.CDEModel.CDEResource">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.amplide.views.internal.CDEModel.CDEResource">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.amplide.CurrDirExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="com.amplide.CurrDirExplorer">
         <includes>
            <contentExtension
                  pattern="com.amplide.CurrDirExplorer.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.amplide.AMPLConsoleFactory"
            label="AMPL Console">
      </consoleFactory>
   </extension>
   <extension
         id="com.amplide.preferences.workingDir"
         name="Working Directory Preferences"
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.amplide.WorkingDirInitializer">
      </initializer>
      <initializer
            class="com.amplide.preferences.EnvPathInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.amplide.Perspective">
         <viewShortcut
               id="com.amplide.CurrDirExplorer">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.amplide.cde.refresh"
            name="Refresh">
      </command>
      <command
            id="com.amplide.cde.updir"
            name="Go up one directory">
      </command>
      <command
            id="com.amplide.commands.rename"
            name="Rename">
      </command>
      <command
            id="com.amplide.commands.OpenNewFileWizard"
            name="New File...">
      </command>
      <command
            id="com.amplide.commands.OpenNewFolderWizard"
            name="New Folder...">
      </command>
      <command
            id="com.amplide.commands.delete"
            name="Delete">
      </command>
      <command
            id="com.amplide.commands.amplCommands"
            name="AMPL Commands">
         <commandParameter
               id="com.amplide.commandType"
               name="AMPL Command Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="com.amplide.commands.resetRestart"
            name="Reset and Restart">
      </command>
      <command
            id="com.amplide.commands.interrupt"
            name="Interrupt">
      </command>
      <command
            id="com.amplide.commands.openExternal"
            name="Open in External Editor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.amplide.CurrDirExplorer">
         <command
               commandId="com.amplide.cde.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <command
               commandId="com.amplide.cde.updir"
               icon="icons/up_nav.gif"
               label="Go up one directory"
               style="push"
               tooltip="Go up one directory">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.amplide.CurrDirExplorer">
         <menu
               label="New">
            <command
                  commandId="com.amplide.commands.OpenNewFileWizard"
                  icon="icons/new_file.gif"
                  label="File"
                  style="push">
            </command>
            <command
                  commandId="com.amplide.commands.OpenNewFolderWizard"
                  icon="icons/newfolder_wiz.gif"
                  label="Folder"
                  style="push">
            </command>
         </menu>
         <separator
               name="openFileGroup"
               visible="true">
         </separator>
         <command
               commandId="com.amplide.commands.openExternal"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.amplide.views.internal.CDEModel.CDEResource">
                     </instanceof>
                     <test
                           property="com.amplide.commands.internal.isNotDirectory">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="fileOpsGroup"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               style="push">
         </command>
         <command
               commandId="com.amplide.commands.delete"
               icon="icons/delete.gif"
               style="push">
         </command>
         <separator
               name="refactorGroup"
               visible="true">
         </separator>
         <command
               commandId="com.amplide.commands.rename"
               label="Rename"
               style="push"
               tooltip="Rename">
         </command>
         <separator
               name="refreshGroup"
               visible="true">
         </separator>
         <command
               commandId="com.amplide.cde.refresh"
               icon="icons/refresh.gif"
               label="Refresh"
               style="push"
               tooltip="Refresh">
         </command>
         <separator
               name="amplGroup"
               visible="true">
         </separator>
         <menu
               label="AMPL Commands">
            <command
                  commandId="com.amplide.commands.amplCommands"
                  label="Model"
                  style="push">
               <parameter
                     name="com.amplide.commandType"
                     value="model">
               </parameter>
            </command>
            <command
                  commandId="com.amplide.commands.amplCommands"
                  label="Data"
                  style="push">
               <parameter
                     name="com.amplide.commandType"
                     value="data">
               </parameter>
            </command>
            <command
                  commandId="com.amplide.commands.amplCommands"
                  label="Include"
                  style="push">
               <parameter
                     name="com.amplide.commandType"
                     value="include">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <instanceof
                           value="com.amplide.views.internal.CDEModel.CDEResource">
                     </instanceof>
                     <test
                           property="com.amplide.views.internal.matchesPattern">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               label="AMPL Commands">
            <command
                  commandId="com.amplide.commands.amplCommands"
                  label="Model"
                  style="push">
               <parameter
                     name="com.amplide.commandType"
                     value="model">
               </parameter>
            </command>
            <command
                  commandId="com.amplide.commands.amplCommands"
                  label="Data"
                  style="push">
               <parameter
                     name="com.amplide.commandType"
                     value="data">
               </parameter>
            </command>
            <command
                  commandId="com.amplide.commands.amplCommands"
                  label="Include"
                  style="push">
               <parameter
                     name="com.amplide.commandType"
                     value="include">
               </parameter>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.amplide.editors.AMPLEditor">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.console.ConsoleView?before=outputGroup">
         <command
               commandId="com.amplide.commands.interrupt"
               icon="icons/interrupt.gif"
               label="Interrupt"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:#ContextMenu?after=additions">
         <command
               commandId="com.amplide.commands.interrupt"
               icon="icons/interrupt.gif"
               label="Interrupt"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.amplide.commands.RenameCDEHandler"
            commandId="com.amplide.commands.rename">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.amplide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.amplide.commands.OpenNewFileWizardHandler"
            commandId="com.amplide.commands.OpenNewFileWizard">
      </handler>
      <handler
            class="com.amplide.commands.OpenNewFolderWizardHandler"
            commandId="com.amplide.commands.OpenNewFolderWizard">
      </handler>
      <handler
            class="com.amplide.commands.DeleteHandler"
            commandId="com.amplide.commands.delete">
      </handler>
      <handler
            class="com.amplide.commands.AMPLCommandHandler"
            commandId="com.amplide.commands.amplCommands">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.amplide.CurrDirExplorer">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.amplide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.amplide.commands.ResetRestartHandler"
            commandId="com.amplide.commands.resetRestart">
      </handler>
      <handler
            class="com.amplide.commands.CopyCDEHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.amplide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.amplide.commands.PasteCDEHandler"
            commandId="org.eclipse.ui.edit.paste">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.amplide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.amplide.commands.AMPLCommandEditorHandler"
            commandId="com.amplide.commands.amplCommands">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.amplide.editors.AMPLEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.amplide.commands.InterruptAMPLHandler"
            commandId="com.amplide.commands.interrupt">
      </handler>
      <handler
            class="com.amplide.commands.OpenFileExternally"
            commandId="com.amplide.commands.openExternal">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.amplide.CurrDirExplorer">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     operator="or">
                  <instanceof
                        value="com.amplide.views.internal.CDEModel.CDEResource">
                  </instanceof>
               </iterate>
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.internal.themes.ColorsAndFontsPreferencePage"
            id="org.eclipse.ui.preferencePages.ColorsAndFonts"
            name="Colors and Fonts">
      </page>
      <page
            class="com.amplide.preferences.EnvPathPreferencePage"
            id="com.amplide.preferences.envPathPrefPage"
            name="Search Path">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="com.amplide.preferences.colorsFonts.category"
            label="AMPL">
      </themeElementCategory>
      <fontDefinition
            categoryId="com.amplide.preferences.colorsFonts.category"
            defaultsTo="org.eclipse.jface.textfont"
            id="com.amplide.preferences.colorsFonts.consoleFont"
            label="Console Font">
         <description>
            The font used by the AMPL console.
         </description>
      </fontDefinition>
      <fontDefinition
            categoryId="com.amplide.preferences.colorsFonts.category"
            defaultsTo="org.eclipse.jface.textfont"
            id="com.amplide.preferences.colorsFonts.editorFont"
            label="Editor Font">
         <description>
            This font is used by the AMPL Editors.
         </description>
      </fontDefinition>
   </extension>
   <!--<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="com.amplidercp.menus.file"
               label="File">
            <command
                  commandId="org.eclipse.ui.edit.text.openLocalFile"
                  style="push">
            </command>
            <separator
                  name="exit.separator">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.amplidercp.menus.edit"
               label="Edit">
            <command
                  commandId="org.eclipse.ui.edit.undo"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.edit.redo"
                  style="push">
            </command>
            <separator
                  name="cut.separator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.edit.cut"
                  style="push">
            </command>
         </menu>
         <menu
               id="com.amplidercp.menus.help"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>-->
</plugin>
